@font-face {
  font-family: 'Duru Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Duru Sans'), local('DuruSans-Regular'), url('http://themes.googleusercontent.com/static/fonts/durusans/v2/0rnIdjSQWlqFS5KpKzVfzrO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}