<h1>Reset password</h1>

<form action="/account/resetpassword" method="post">

<div class="white-content-outer">

<div class="box">
<p>Enter your username or e-mail address below. You'll receive an e-mail with a link to reset your password shortly.</p>

<p><input type="text" name="emailaddress" id="emailaddress" placeholder="Username or e-mail address" autofocus /></p>

</div>

</div>

<input type="submit" name="submit" value="Reset Password" class="btn" />

</form>
