<h1>Reset your password</h1>

<form action="<%= request.fullpath %>" method="post">

<div class="white-content-outer">

<div class="box" id="tab-account">
<h2>Enter your new password</h2>
<p><label for="password" class="field-label">Password:</label> <input type="password" name="password" id="password" /></p>
<p><label for="password_confirm" class="field-label">Confirm password:</label> <input type="password" name="password_confirm" id="password_confirm" /></p>
</div>

</div>

<input type="hidden" name="key" value="%key%" />
<input type="submit" name="submit" value="Save Password" class="btn" />

</form>
