<h1><%= @network.title %></h1>

<form action="/admin/network/<%= @network.id %>/edit" method="post" enctype="multipart/form-data">
  <input type="file" name="icon" />
  <input type="submit" value="save" />
</form>
