<!--<a class="collapse right btn btn-white" href="webcal://%frontendUrl%/feed/ical/user:%user_id%/key:%key%" title="Add Showdates to your calendar">iCal Feed</a>-->

<h1>Couch</h1>

<p>This list shows the next episode for every show you follow and haven't watched yet.</p>

<ul class="list-couch">
<%== @couch.inspect %>
</ul>

<!--<p class="couch-buttons-footer"><a class="btn btn-white" href="webcal://%frontendUrl%/feed/ical/user:%user_id%/key:%key%" title="Add Showdates to your calendar">iCal Feed</a></p>-->
