<h1>Something went wrong...</h1>

<p>We are very sorry, but something is not right. We have been notified of the problem.</p>
<p>Maybe you could <a href="couch">take a seat at your couch</a> to watch some shows?</p>
