<h1>Uhoh. This profile is private.</h1>
<p>The person you are trying to view chose to keep his or her profile private. Bummer.</p>
<p><a href="/couch">Let's watch something: you'll be happy again.</a></p>
